.postContainer {
    margin-bottom: 50px;
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
    justify-content: space-between;
}

.postContainerClickable {
    cursor: pointer;
}

.item {
    flex: 1;
}

.usernameField {
    padding-left: 5px;
}
