.media-card:hover {
    background-color: #eeeeee;
}

.result-card {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.result-body {
    padding: 8px;
}

.release-result-img {
    width: 100%;
}

.card-title {
    color: white;
}

.card-text {
    color: #bbbbbb;
}
